body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.filter-form {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

label, select {
    font-size: 16px;
    margin-right: 10px;
    color: #555;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type='submit'], .back-button {
    background-color: #695cfe;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type='submit']:hover, .back-button:hover {
    background-color: #695cfe;
}

.back-button-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button {
    background-color: #695cfe;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.back-button:hover {
    background-color: #3421ff;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: center;
}

th, td {
    padding: 12px;
}

th {
    background-color: #695cfe;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.event-title {
    text-align: left;
    font-size: 1.5em;
    margin-top: 20px;
    margin-left: 10%;
}

.no-data {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: red;
}

.back-button-container {
    text-align: center;
    margin-top: 20px;
}
